.back-btn{

    position: fixed;
    left: 3vw;
    top: 3vh;

    color: white;
    cursor: pointer;
}

/* h1{
    font-family: 'Fredoka', sans-serif;
} */

.material-icons.md-36 { 
    font-size: 36px;
}