.back-btn{

    position: fixed;
    left: 3vw;
    top: 3vh;

    color: white;
    cursor: pointer;
}

.material-icons.md-36 { 
    font-size: 36px;
}

.profile-comp{
    font-family: 'Fredoka', sans-serif;
}

h1{
    font-family: 'Fredoka', sans-serif;
    color: black;
}

h3{
    font-family: 'Fredoka', sans-serif;
    color: black;
}

.modal-content {
    border-radius: 15px;
}