<div class="container" style="padding: 2em; color: white">

    <div class="profileComp" style="background-color: lightgray;
    padding: 2em; border-radius: 15px;">

    <h1>User Profile</h1>

    <br/>

    <div class="row">
        <div class="col-sm-4">
            <h3>{{user!.UserName}}</h3>
        </div>

        <div class="col-sm-4">
            <h3>{{user!.UserEmail}}</h3>
        </div>

        <div class="col-sm-2">
            <button tyep="button" class="btn btn-light" (click)="showEditDetailsForm()">Edit Details</button>
        </div>

    </div> 

    <br/>

    <!-- <h2>Your decks</h2>

    <div class="col-sm-4">
        <h3>{{user!.UserName}}</h3>
    </div> -->

    <br/>

    <div id="editDetails">
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="col">
              <button type="button" class="btn btn-light">Update</button>
              </div>
            </div>
        </form>
    </div>
    </div>



</div>

<!-- <span class="material-icons md-36 back-btn" (click)="backClicked()">arrow_back</span> -->

