<div class="container-fluid">
    <!-- Cards Row -->
    <div class="row" style="align-items: center; height: 90vh;">
        <!-- Card 1 Col -->
        <div class="col-md-4 dash-item-col">
            <!-- Card 1 -->
            <div class="card dashboard-cards mx-auto hvr-grow-shadow" style="width: 18rem;">
                <div class="card-body">
                    <a [routerLink]='["/userhub"]' routerLinkActive="active" href="#" class="dashboard-card-clickable">
                        <h5 class="card-title">User Hub</h5>
                        <p class="card-text">View, Create, Edit, Delete & set privacy status of your cardstacks </p>
                    </a>
                </div>
            </div>
        </div>


        <!-- Card 2 Col -->
        <div class="col-md-4 dash-item-col">
            <!-- Card 2 -->
            <div class="card dashboard-cards mx-auto hvr-grow-shadow" style="width: 18rem;">
                <div class="card-body">
                    <a  [routerLink]='["/profile"]' routerLinkActive="active"  href="#" class="dashboard-card-clickable">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">View & edit app settings & account information</p>
                    </a>
                </div>
            </div>
        </div>


        <!-- Card 3 col -->
        <div class="col-md-4 dash-item-col">
            <!-- Card 3 -->
            <div class="card dashboard-cards mx-auto hvr-grow-shadow" style="width: 18rem;">
                <div class="card-body">
                    <a [routerLink]='["/userhub"]' class="dashboard-card-clickable">
                        <h5 class="card-title">Community Hub</h5>
                        <p class="card-text">Search for community cardstacks on a large range of topics</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
