  <!-- CARD FLIPPING ANIMATION -->

<body>
  
  <div class="container">

    <div class="row">
      <div class="col">
        <h1>{{ currentCardStack.DeckName }}</h1>
      </div>
      <div class="col" *ngIf="countdown != null">
          <h1>{{ countdown }}</h1>
      </div>
      </div>

    <div class="flip-card" style="width: 60vw; max-height: 30vh; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 2rem;" [ngClass]="{'do-flip': isFlipped == true}"> <!-- Card container -->

      <!-- <audio id="bruh" preload="auto">
        <source src="../../../assets/bruh.mp3">
      </audio> -->
  
      <div class="flip-card-inner" [ngClass]="{'do-flip': isFlipped == true}">
      
        <div class="flip-card-front"> <!-- Front of card -->
  
          <div class="row" style="padding: 1em;">
  
            <div class="col">
              <h5 class="card-title">Card {{indexCounter + 1}} of {{cardsArray.length}}</h5>
            </div>
  
            <div class="col">
              <h5>Front</h5>
            </div>
  
        </div>
  
        <div class="row" style="padding: 1em;">
          <div class="col">
              <h2>{{cardsArray[indexCounter]?.Front}}</h2>
          </div>
        </div>
  
        </div>
        
        <div class="flip-card-back" [ngStyle]="{'background-color': isCorrect == true ? 'green' : 'red'}"> <!-- Back of card -->
  
          <div class="row" style="padding: 1em;">
            <div class="col">
              <h5 class="card-title">Card {{indexCounter + 1}} of {{cardsArray.length}}</h5>
            </div>
  
            <div class="col">
              <h5>Back</h5>
          </div>
  
        </div>
  
        <div class="row" style="padding: 1em;">
          <div class="col">
              <h2>{{cardsArray[indexCounter]?.Back}}</h2>
          </div>
      </div>
  
        </div>
        
      </div>

      <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">

      <div class="form-row align-items-center">

        <div class="col-auto" *ngIf="stackSettings.inputs == true">
          <label class="sr-only" for="inlineFormInput">Answer</label>
          <input type="text" class="form-control mb-2" id="answer" formControlName="answer" placeholder="Enter answer">
        </div>

        <div class="col-auto" *ngIf="stackSettings.inputs == true">
          <button type="submit" class="btn btn-primary" style="margin: 1em; align-items: end;" id="submitButton">Submit</button>
        </div>

        <div class="col-auto" *ngIf="stackSettings.inputs == false">
          <button type="button" class="btn btn-primary" (click)="flipCard()" style="margin: 1em; align-items: end;">Flip</button>
        </div>

        <div class="col-auto" *ngIf="stackSettings.inputs == false">
          <button type="button" class="btn btn-primary" (click)="nextCard()" style="margin: 1em; align-items: end;">Next</button>
        </div> 

        <div class="col-auto" *ngIf="stackSettings.inputs == false">
          <button type="button" class="btn btn-primary" (click)="previousCard()" style="margin: 1em; align-items: end;">Previous</button>
        </div>

      </div>

    </form>
    
  
    </div>

  </div>

  </body>

  <!-- <script>

      var bruhOne= $("#bruh")[0];
      $(".flip-card")
      .mouseenter(function() {
      bruhOne.play();
      });


    </script> -->

  <!-- ORIGINAL -->

    <!-- <div class="card" style="width: 60vw; max-height: 30vh; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 2rem; border: 1px solid;">
      <div class="card-body">
          <div class="row">
              <div class="col">
                <h5 class="card-title">Card {{indexCounter + 1}} of {{cardsArray.length}}</h5>
              </div>
              <div class="col" *ngIf="isFlipped == false">
                <h5>Front</h5>
            </div>
            <div class="col" *ngIf="isFlipped == true">
                <h5>Back</h5>
            </div>

          </div>


    <div class="row">
        <div class="col" *ngIf="isFlipped == false">
            <h2>{{cardsArray[indexCounter].Front}}</h2>
        </div>
        <div class="col" *ngIf="isFlipped == true">
            <h2>{{cardsArray[indexCounter].Back}}</h2>
        </div>
    </div>

        
        <div class="row" style="padding: 2em;">
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="flipCard()">Flip</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="nextCard()">Next</button>
            </div>
        </div>

      </div>

    </div> -->
