<div class="container">

  <div class="row" style="margin: 2em">
    <div class="col-xs-1 center-block text-center">
        <h1 style="color: white">Community Hub</h1>
    </div>
  </div>

      <br />

    <div class="row" style="justify-content: space-around; text-align: center;">

        <div style="width: auto;" *ngFor="let stack of Stack" (click)="clicked(stack)" class="col-xs-4 mb-3 card-rows">
            <div class="card mx-auto card-main hvr-grow-shadow" style="width: 20rem;" [ngStyle]="{'background-color':stack.Colour}">
                <div class="card-body">
                  <h3 class="card-title">{{stack.DeckName}}</h3>
                  <div class="overflow-auto description"><h5>{{stack.About}}</h5></div>
                  <div class="description"><h5>Created by {{stack.UserName}}</h5></div>
                  <div class="btn-group">
                    <button type="button btn-primary" class="btn btn-light" (click)="goToViewCardStackMenu(stack)">Open</button>
                  </div>
                </div>
            </div>
        </div>

      <!-- <button #btnShow style="display: none;" id="btnShow" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ></button>

      <div id="exampleModal" #myModal class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content bg-dark">
            <div class="modal-header">
              <h5 class="modal-title">Add new deck</h5>
              <button #btnClose id="btnClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body">
              <form [formGroup]="cardStackDetails">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Deck Name</label>
                <input type="text" formControlName="DeckName" class="form-control" id="exampleFormControlInput1" placeholder="Enter title">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">About</label>
                <textarea class="form-control" formControlName="About" placeholder="Enter some text" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              </form>
            </div>
      
            <div class="modal-footer">
              <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="addNewStack()" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> -->

    </div>
</div>

<!-- <span class="material-icons md-36 back-btn" (click)="backClicked()">arrow_back</span> -->

