<body>
    <div class="card" style="width: 60vw; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 10px; border-radius: 15px; color: black;" [ngStyle]="{'background-color':currentCardStack?.Colour}"
    >

        <div class="card-body">
            <div class="row" style="padding: 1em;">
                <div class="col">
                    <h3>Selected card stack</h3>
                </div>
                <div class="col">
                    <h3>{{ currentCardStack?.DeckName }}</h3> 
                </div>
            </div>

            <div class="row" style="padding: 1em;" *ngIf="currentCardStack.CardsDue != null">
                <div class="col">
                    <h3>Cards Due {{ currentCardStack?.CardsDue }}</h3>
                </div>
            </div>

            <form [formGroup]="viewStackForm" (ngSubmit)="onSubmit()"> <!-- Form -->
                <div class="form-group">

                    <div class="row" style="padding: 1em;"> <!-- Row -->
                        <div class="col">
                            <div class="form-check form-switch form-switch-md">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckInputs" formControlName="Inputs" [value]="false">
                                <label class="form-check-label" for="flexSwitchCheckInputs">Inputs</label>
                            </div>
                        </div>

                        <div class="col" *ngIf="viewStackForm.get('Inputs')?.value == true">
                            <div class="form-check form-switch form-switch-md">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckHints" formControlName="Hints" [value]="false">
                                <label class="form-check-label" for="flexSwitchCheckHints">Hints</label>
                            </div>
                        </div>
                        
                        <div class="col" *ngIf="viewStackForm.get('Inputs')?.value == true">
                            <div class="form-check form-switch form-switch-md">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckTimer" formControlName="Timer" [value]="false">
                                <label class="form-check-label" for="flexSwitchCheckTimer">Timer</label>
                            </div>
                        </div>

                        <!-- Testing binding -->

                        <!-- <div class="col"> 
                            <p>Timer: {{ viewStackForm.get('timer')?.value }}</p>
                            <p>Inputs: {{ viewStackForm.get('inputs')?.value }}</p>
                        </div> -->
                    </div>

                    

                    <div class="row" *ngIf="viewStackForm.get('Timer')?.value == true" style="padding: 1em;"> 

                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="timerLength" id="TimerLength" formControlName="TimerLength" [value]=15>
                                <label class="form-check-label" for="TimerLength">15 Seconds</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="timerLength" id="TimerLength" formControlName="TimerLength" [value]=30>
                                <label class="form-check-label" for="TimerLength">30 Seconds</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row" style="padding: 1em;">
                <div class="col" *ngIf="currentCardStack.UserID == currentUserID && currentCardStack.CardsDue != null">
                    <button type="submit" (click)="viewDueCards()" class="btn btn-light" id="viewDueCardsButton">View due cards</button>
                </div>
                <div class="col">
                    <button type="submit" (click)="viewAllCards()" class="btn btn-light">View all cards</button>
                </div>

            </div>
        </div>
    </div>
</body>
