.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    padding: 1em;
}

label{
    color: white;
}

input{
    background-color: #d1d1d1;
}

.material-icons.md-36 { font-size: 36px; }