<div class="card" style="width: 80vw;">
    <div style="height: 30px; border-bottom: 1px solid #cecece; display: flex; padding-left: 10px; font-size: 1.2em; color: white; background-color: #000000;"></div>
      <div class="card-body">
        <form [formGroup]="cardForm">
          <div class="form-row align-items-center" style="display: flex; justify-content: center;">
  
            <div class="col-auto">
              <input type="text" class="form-control mb-2" class="form-control" id="front" formControlName="front" placeholder="Front Text" style="width: 30vw;">
            </div>
  
            <div class="col-auto">
              <input type="text" class="form-control mb-2" class="form-control" id="back" formControlName="back" placeholder="Back Text" style="width: 30vw;">
            </div>
  
            <div class="col-auto">
              <input type="text" class="form-control mb-2" class="form-control" id="imgUrl" formControlName="imgUrl" placeholder="Image Link" style="width: 10vw;">
            </div>
          
          </div>
        </form>
    </div>
  </div>