
<div class="container-fluid" style="display: flex; justify-content: center; padding-top: 20px;">
    <!--------------------------- OFFCANVAS END ---------------------------->

    <!-- CARDS GO HERE -->
    <div class="row">
        <app-create-card-item style="display: flex; justify-content: center;" *ngFor="let c of cardsArray; let i = index" [card]="c" (getCardsFromStack)="getCardsFromStack()"></app-create-card-item> <!--  -->
    </div>
    <!------------------->
</div>

<!-------------------- Add card Button -------------------->
<div class="container" style="display: flex; justify-content: center; padding-bottom: 20px;">
    <div style="text-align: center;">
        <button (click)="addNewCard()" class="btn" style="vertical-align: middle; background-color: #b8b8b8;" type="button">
            <h5 style="color: rgb(255, 255, 255);">+ New Card</h5>
        </button>
    </div>
</div>
<!--------------------------------------------------------->

<div class="container" style="display: flex; justify-content: center;">

    <!----------------- Save Stack Button ----------------->
    <div style="text-align: center;">
        <button class="btn btn-primary mx-1 my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings" aria-controls="offcanvasSettings">
            Save
        </button>
    </div>
    <!----------------------------------------------------->

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSettings" aria-labelledby="offcanvasSettingsLabel" style="border-right: 1px solid black;">

        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSettingsLabel">Stack Details</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!--------------------------- OFFCANVAS START ---------------------------->
        <div class="offcanvas-body">

            <!-- Name
            Description
            Image
            public/private status-->

            <form [formGroup]="stackDetailsForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                <label for="deckName">Stack title</label>
                <input type="text" class="form-control" id="deckName" formControlName="deckname" placeholder="A descriptive title">
                <small class="form-text text-muted">This is how you (and everyone else) will see your stack!</small>
                </div>

                <br>
                
                <div class="form-group">
                <label for="about">Description</label>
                <input type="text" class="form-control" id="about" formControlName="about" placeholder="A really good description of this stack.">
                </div>

                <br>

                <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Private</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Public</label>
                  </div> -->

                <!-- <label for="inputPrivacy">Privacy setting</label> -->

                <br>

                <!-- <select id="inputPrivacy" class="custom-select" style="width: 25vw;">
                    <option selected>Private</option>
                    <option value="1">Public</option>
                </select> -->

                <div style="min-height: 25px;"></div>

                <div class="row">
                    <button type="submit" style="text-align: center;" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>