.custom-control-input:focus~.custom-control-label::before {
  border-color: rgb(3, 255, 3) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 47, 69, 0.25) !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: rgb(3, 255, 3) !important;
  background-color: rgb(3, 255, 3) !important;
}

.custom-control-input:active~.custom-control-label::before {
  background-color: rgb(3, 255, 3) !important;
  border-color: rgb(3, 255, 3) !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: rgb(3, 255, 3) !important;
}

.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
  background-color: rgb(3, 255, 3) !important;
  border-color: rgb(3, 255, 3) !important;
}

.save-button{
  border-radius: 50%;
  width: 3em;
  height: 3em;

  color: white;

  position: fixed;
  left: 30px;
  bottom: 30px;
}

.add-stack-btn{
  border-radius: 50%;
  width: 3em;
  height: 3em;

  background-color: #03DAC5;

  color: white;

  /* display: flex;
  align-items: center;
  justify-items: center; */

  position: fixed;
  right: 30px;
  bottom: 30px;
}

/* Grow Shadow */
.hvr-grow-shadow {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.material-icons.md-36 { font-size: 36px; }

.offcanvas{
  color: white;
}

input {
  background-color: #d1d1d1;
}
