.custom-control-input:focus~.custom-control-label::before {
    border-color: rgb(3, 255, 3) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 47, 69, 0.25) !important;
  }
  
  .custom-control-input:checked~.custom-control-label::before {
    border-color: rgb(3, 255, 3) !important;
    background-color: rgb(3, 255, 3) !important;
  }
  
  .custom-control-input:active~.custom-control-label::before {
    background-color: rgb(3, 255, 3) !important;
    border-color: rgb(3, 255, 3) !important;
  }
  
  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: rgb(3, 255, 3) !important;
  }
  
  .custom-control-input-green:not(:disabled):active~.custom-control-label::before {
    background-color: rgb(3, 255, 3) !important;
    border-color: rgb(3, 255, 3) !important;
  }