
<div class="container-fluid" style="display: flex; justify-content: center; padding-top: 20px;">
    <!--------------------------- OFFCANVAS END ---------------------------->

    <!-- CARDS GO HERE -->
    <div class="row">
        <app-create-card-item style="display: flex; justify-content: center;" *ngFor="let c of cardsArray; let i = index" [card]="c" (getCardsFromStack)="getCardsFromStack()"></app-create-card-item> <!--  -->
    </div>
    <!------------------->
</div>

 <!-- Buttons -->

    <button type="button" class="material-icons md-36 btn btn-lg add-stack-btn hvr-grow-shadow" (click)="addNewCard()">add</button>

    <button class="material-icons md-36 btn btn-lg save-button hvr-grow-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings" aria-controls="offcanvasSettings" style="background-color: #BB86FC;">
        save
    </button>

<div class="container" style="display: flex; justify-content: center;">


    <!----------------------------------------------------->

    <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasSettings" aria-labelledby="offcanvasSettingsLabel" style="border-right: 1px solid black;">

        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSettingsLabel">Stack Details</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!--------------------------- OFFCANVAS START ---------------------------->
        <div class="offcanvas-body" style="margin: 1em;">

            <!-- Name
            Description
            Image
            public/private status-->

            <form [formGroup]="stackDetailsForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                <label for="deckName">Stack title</label>
                <input type="text" class="form-control" id="deckName" formControlName="deckname" placeholder="A descriptive title">
                <small class="form-text text-muted">This is how you (and everyone else) will see your stack!</small>
                </div>

                <br>
                
                <div class="form-group">
                <label for="about">Description</label>
                <input type="text" class="form-control" id="about" formControlName="about" placeholder="A really good description of this stack.">
                </div>

                <br>

                

                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="publicDeck" formControlName="publicDeck">
                    <label class="custom-control-label" for="publicDeck">Public</label>
                </div>

                <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Private</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Public</label>
                  </div> -->

                <!-- <label for="inputPrivacy">Privacy setting</label> -->

                <br>

                <!-- <select id="inputPrivacy" class="custom-select" style="width: 25vw;">
                    <option selected>Private</option>
                    <option value="1">Public</option>
                </select> -->

                <div style="min-height: 25px;"></div>

                <div class="row">
                    <button type="submit" style="text-align: center;" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>