#banner{
    height: 10vh;
    display: flex;
    align-items: center;

}

#banner-container{
    display: flex;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

#logo-text{
    color: white;
    text-decoration: none;
}