#banner{
    height: 10vh;
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;

}

#banner-container{
    display: flex;
    background-color: #BB86FC;
    /* font-family: 'Bubbly', sans-serif;                                          */
}

#logo-text{
    color: white;
    text-decoration: none;
}

#logout{
    cursor: pointer;
    position: fixed;

    right: 20px;
    top: 50;
}

.back-btn{

    position: fixed;
    left: 3vw;
    top: 3vh;

    color: white;
    cursor: pointer;
}
