<div class="container-fluid">
    <div class="row banner d-flex align-items-center">
        <div class="col-2 d-flex justify-content-center">
            <span class="material-icons md-36 back-btn" (click)="backClicked()" *ngIf="router.url != '/' && router.url != '/signup' && router.url != '/dashboard'">arrow_back</span>
        </div>
    
        <div class="col-8 d-flex justify-content-center">
            <a [routerLink]='["/dashboard"]' routerLinkActive="active" id="logo-text">
                <h1>FlashQuiz</h1>
            </a>
        </div>
    
        <div class="col-2 d-flex justify-content-center">
            <a *ngIf="(userID$ | async) != 0" id="logout" (click)="logOut()">
                <h3>Logout</h3>
            </a>
        </div>
    </div>
</div>





