<div class="container" style="min-width: 90vw; align-content: center;">

    <div class="row" style="justify-content: space-around; text-align: center;">
        <div style="width: auto;" *ngFor="let stack of Stack" (click)="clicked(stack)" class="col-xs-4 mb-3 card-rows">

            <div class="card mx-auto card-main hvr-grow-shadow" style="width: 20rem; margin-bottom: 2em;"  [ngStyle]="{'background-color':stack.Colour}"> <!-- [ngStyle]="{'background-color':'{{stack.Colour}}'}" --> 
                <div class="card-body" style="height: 16rem;">
                  <h3 class="card-title">{{stack.DeckName}}</h3>
                  <div class="overflow-auto description"><h5>{{stack.About}}</h5></div>
                  <div class="btn-group">
                    <button type="button btn-primary" class="btn btn-light" (click)="goToViewCardStackMenu(stack)">Open</button>
                    <button type="button btn-primary" class="btn dropdown-toggle dropdown-toggle-split btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="goToEditCardStack()">Edit</a>
                      <a class="dropdown-item" style="color: tomato;" (click)="deleteCard(stack)">Delete</a>
                    </div>
                  </div>
                </div>
            </div>
            
        </div>

        <!-- <div style="width: auto;" (click)="openDialog()" class="col-xs-4 mb-3 card-rows">
          <div class="card mx-auto card-main hvr-grow-shadow" style="width: 20rem; margin-bottom: 2em;"> 
              <div class="card-body" style="height: 16rem;">
                <span type="button" class="material-icons md-36">add</span>
              </div>
          </div>
      </div> -->

      <button #btnShow style="display: none;" id="btnShow" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

      <div id="exampleModal" #myModal class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add new deck</h5>
              <button #btnClose id="btnClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body">
              <form [formGroup]="cardStackDetails">
              <div class="form-group">
                <label for="DeckName" class="col-form-label">Deck Name</label>
                <input type="text" formControlName="DeckName" class="form-control" id="DeckName" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label for="About" class="col-form-label">About</label>
                <textarea class="form-control" formControlName="About" placeholder="Enter some text" id="About" rows="3"></textarea>
              </div>
              </form>
            </div>
      
            <div class="modal-footer">
              <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="addNewStack()" class="btn btn-outline-success">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

<button type="button" class="material-icons md-36 btn btn-lg add-stack-btn hvr-grow-shadow" (click)="openDialog()">add</button>
