@media (max-width: 720px) {
    .card-rows{
        margin: 0 auto;
    }

    .card-main{
        min-width: 28rem;
    }
}

.add-stack-btn:hover{
    text-decoration: none;
    background-color: white;
}

.description{
    height: 85px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    padding: 1em;
}