<div class="container" style="min-width: 90vw; align-content: center;">
    <div class="row" style="justify-content:space-around; text-align: center;">
        
        <div style="width: auto;" *ngFor="let stack of Stack" class="col-xs-4 mb-3 card-rows">
            <div class="card mx-auto card-main" style="width: 20rem;">
                <div class="card-body" style="height: 16rem;">
                  <h5 class="card-title">{{stack.DeckName}}</h5>
                  <div class="overflow-auto description">{{stack.About}}</div>
                  <p>{{stack.UserID}}</p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Open</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Edit</a>
                      <a class="dropdown-item" style="color: tomato;" href="#">Delete</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 mb-3 card-rows">
            <a [routerLink]='["/createstack"]' routerLinkActive="active" href="#" class="card add-stack-btn mx-auto card-main" style="width: 20rem; height: 16rem;">
                <div class="card-body" style="display: flex; align-items: center; justify-content: center; background-color: #0d6efd;">
                    <h1 style="color: white;">+</h1>
                </div>
            </a>
        </div>

        <div class="col-xs-4 mb-3 card-rows" (click)="openDialog()">
          <a class="card add-stack-btn mx-auto card-main" style="width: 20rem; height: 16rem;">
              <div class="card-body" style="display: flex; align-items: center; justify-content: center; background-color: green;">
                  <h1 style="color: white;">+</h1>
              </div>
          </a>
      </div>

      <button #btnShow style="display: none;" id="btnShow" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ></button>

      <div id="exampleModal" #myModal class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add new deck</h5>
              <button #btnClose id="btnClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body">
              <form [formGroup]="cardStackDetails">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Deck Name</label>
                <input type="text" formControlName="DeckName" class="form-control" id="exampleFormControlInput1" placeholder="enter title">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">About</label>
                <textarea class="form-control" formControlName="About" placeholder="enter some text" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              </form>
            </div>
      
            <div class="modal-footer">
              <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="addNewStack()" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
