@media (max-width: 720px) {

    .card-rows{
        margin: 0 auto;
    }

    .card-main{
        min-width: 20rem;
    }

    
    .add-stack-btn{
        color: blue;
        width: 2em;
        height: 2em;
    }

}

h1{
    color:black;
    
}

.add-stack-btn{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background-color: white;
    color: black;

    position: fixed;
    right: 30px;
    bottom: 30px;
}

.description{
    height: 85px;
    color: black;
}

.card {
    border-radius: 15px;
    padding: 1em;
    font-family: 'Fredoka', sans-serif;
}

.card-title{
    color: black;
}

.white-btn-text{
    color: white;
}

.open-btn{
    background-color: grey;
}

/* Grow Shadow */
.hvr-grow-shadow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-content {
    border-radius: 15px;
}

.material-icons.md-36 { 
    font-size: 36px;
}

.dropdown-item{
    cursor: pointer;
}