<div class="card bg-dark">
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      
      <div class="form-group">

        <label for="email">Email</label>

        <!-- Validation -->

        <div *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.errors && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">
          <small id="email-error-msg" class="text-danger" *ngIf="loginForm.get('email')!.errors?.required">Email is required</small>
        </div>

        <input id="email" type="email" class="form-control" formControlName="email" required/>
      </div>

      <!-- Email -->

      <div class="form-group">

        <label for="password">Password</label>

        <!-- Validation -->

        <div *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.errors && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
          <small id="password-error-msg" class="text-danger" *ngIf="loginForm.get('password')!.errors?.required">Password is required</small>
        </div>

        <input id="password" type="password" class="form-control" formControlName="password" required/>
      </div>

      <button id="button" type="submit" class="btn btn-light" [disabled]="loginForm.invalid" style="margin: 1em">Log in</button>

    </form>

    <a routerLink="/signup">Don't have an account? Create one here</a>

  </div>

  <div *ngIf="authErrorMsg" style="padding: 1em; color: white"><p>{{ authErrorMsg }}</p></div>

</div>
